.header {
    display:inline-flex;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px;
}

.header-element {
    width: 33%;
    text-align: center;
    font-style: normal;
}

#profile-link {
    text-align: right;
}

#header-logo {
    text-align: left
}

body {
    background: linear-gradient(
        to bottom,
        #fec695, 
        #fef595,
        #f9f8dc);
    background-attachment: fixed;
    padding:10px;
    font-family: Sanchez;
    color: rgb(91, 99, 184);
}


.input-text {
    background-color: transparent;
    border-color: transparent;
    height: 60px;
    width: 514px;
    left: 20px;
    position: relative;
    font-size: x-large;
    font-family: Sanchez;
    color: rgb(91, 99, 184);
}

.input-text:focus {
    outline: none;
}

.ul-element {
    list-style: decimal;
}

.li-element {
    padding: 3px;
    font-size: 20px;
    vertical-align: top;
}

.hand-sign-logo {
    position: relative;
    vertical-align: bottom;
    border-style: solid;
    border-color: #fec695;    
    border-radius: 10px;
    margin-bottom: 2px;
}

#translation-output {
    border-style: solid;
    border-radius: 30px;
    border-width: 10px;
    border-color: burlywood;
    box-shadow: 0 3px 10px;
    padding-top: 3px;
    padding-left: 5px;
    height: 200px;
    width: 1080px    
}

@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');
@import url('https://fonts.googleapis.com/css?family=Sanchez');

#header-title {
    font-size: 50px;
    color: rgb(91, 99, 184);
    font-family: 'Love Ya Like A Sister';
}
a:link {
    text-decoration: none;
}
a:hover { text-decoration: underline; }

.text-field {
    width: 580px;
    height: 60px;
    display: flex;
    justify-content: center;

    background: #FFF2CF;
    border-radius: 30px;
}
