.header {
    display:inline-flex;
    width: 100%;
    background-color: green;
    border-style: dotted;
    margin-bottom: 30px;
}

.header-element {
    width: 30%;
    text-align: center;
}

.ul-element {
    
}

.li-element {
    padding: 10px;
    height:25px
}

.li-button {
    margin-left: 20px;
    margin-right: 10px;
}